@import "variables";

.hide {
  display: none;
}

.pricing-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

  p {
    color: $neutral-two;
    padding: 0 20px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;

    input {
      height: 0;
      width: 0;
      opacity: 0;
    }
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient($gradient);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      background: $neutral-two;
    }

    &::before {
      position: absolute;
      content: "";
      height: 25px;
      width: 25px;
      right: 2px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background-color: $white;
    }
  }

  input:checked + .slider::before {
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
  }

  .round {
    border-radius: 40px;
    &::before {
      border-radius: 50%;
    }
  }
}
