$gradient: to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$gradient-bg: to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$white: #fff;
$neutral-one: hsl(240, 78%, 98%);
$neutral-two: hsl(234, 14%, 74%);
$neutral-three: hsl(233, 13%, 49%);
$neutral-four: hsl(232, 13%, 33%);
$font: "Montserrat", sans-serif;
